*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

.chamada{
    background-color: #fff6d9;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    padding: 10px 10px 50px ;
}

.box1{
    width: 50%;
    height: 519px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box1>p{
    font-family: "Helvetica", Sans-serif;
    color: #757575;
    margin-left: 80px;
    margin-top: 20px;
    font-size: 25px;
    text-align:justify;
}

.box1>h1{
    margin-left: 50px;
    font-family: "Alegreya", serif;
    color: #ef9300;
    font-size: 50px;
    text-align: center;
}

.box2{
    width: 50%;
    height: 519px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2>img{
    height: 450px; 
    width: auto;
}

