* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.chamada {
    visibility: hidden;
    background: linear-gradient(to bottom, rgba(237, 236, 224, 0) 0%, rgba(237, 236, 224, 1) 100%), 
                linear-gradient(to top, rgba(237, 236, 224, 0) 0%, rgba(237, 236, 224, 1) 100%);
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    padding: 10px 10px 50px;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 
        0 0 10px rgba(237, 236, 224, 1),
        0 0 20px rgba(237, 236, 224, 0.8),
        0 0 30px rgba(237, 236, 224, 0.6),
        inset 0 0 10px rgba(237, 236, 224, 1),
        inset 0 0 20px rgba(237, 236, 224, 0.8),
        inset 0 0 30px rgba(237, 236, 224, 0.6);
}



.box1 {
    flex: 1;
    min-width: 300px; /* Define uma largura mínima para evitar que o texto fique muito apertado */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Adiciona espaçamento interno */
}

.box1 > p {
    font-family: "Helvetica", Sans-serif;
    color: #383838;
    margin-top: 28px;
    font-size: 28px;
    margin-left: 27px;
    
}

.box1 > h1 {
    font-family: "Alegreya", serif;
    color: #ef9300;
    font-size: 70px;
    text-align: center;
}

.box2 {
    flex: 1;
    min-width: 300px; /* Define uma largura mínima para evitar que a imagem fique muito pequena */
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Adiciona espaçamento interno */
}

.box2 > img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 
        0 0 10px rgba(237, 236, 224, 1),
        0 0 20px rgba(237, 236, 224, 0.8),
        0 0 30px rgba(237, 236, 224, 0.6),
        inset 0 0 10px rgba(237, 236, 224, 1),
        inset 0 0 20px rgba(237, 236, 224, 0.8),
        inset 0 0 30px rgba(237, 236, 224, 0.6);

}

@media screen and (max-width: 1200px) {
    .chamada {
        margin-left: 50px;
        margin-right: 50px;
    }

    .box1 > p {
        font-size: 20px;
    }

    .box1 > h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 768px) {
    .chamada {
        margin-left: 20px;
        margin-right: 20px;
        flex-direction: column-reverse;
    }

    .box1, .box2 {
        width: 100%;
        padding: 10px;
    }

    .box1 > p {
        font-size: 18px;
    }

    .box1 > h1 {
        font-size: 45px;
        font-weight: bold;
    }

    .box2 > img {
        width: 100%;
        height: auto;
    }
}
