*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

.chamada{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: 15px;
    display: flex;
    padding: 10px 10px 50px ;
}

.box1{
    
    width: 50%;
    height: 519px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box1>p{
    padding: 30px;
    font-size: 25px;
    text-align:justify;
}

.box1>h1{
    padding: 10px;
    font-size: 50px;
    text-align: center;
}

.box2{
    width: 50%;
    height: 519px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2>img{
    height: 450px; 
    width: auto;
}

