* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    margin-bottom: 50px; 
}


.mais-info {
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    padding: 10px 10px 50px;
}

.mais-info h1 {
    font-size: 45px;
    font-weight: bold;
    color: #7a4e07;
    margin-bottom: 25px;
}

.mais-info h2 {
    margin-top: 25px;
    font-size: 40px;
    font-weight: bold;
    color: #b5761d;
}

#form {
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: flex;
}

.mais-info input {
    padding: 20px;
    width: 55%;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 3px;
}

form button {
    background-color: #b76e0b;
    margin-top: 20px;
    color: white; 
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 4px; 
    width: 1015px;
}

form button:hover {
    background-color: #a65d08;
}

.mais-info textarea {
    padding: 10px;
    resize: vertical;
    width: 55%;
    border-radius: 4px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    margin-top: 50px;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #0055CC;
    color: white;
    font-size: 24px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.social-icons a:hover {
    background-color: #add8e6;
}

.mais-info{
    visibility: hidden;
}

@media screen and (max-width: 768px) {
    .mais-info h1 {
        font-size: 32px;
    }

    .mais-info{
        margin-top: 0px;
    }

    .mais-info h2 {
        font-size: 28px;
    }

    .mais-info input,
    .mais-info textarea {
        width: 90%;
    }

    form button {
        width: 90%;
    }

    .social-icons {
        display: flex;
        gap: 25px;
    }

    .social-icons a {
        width: 60px;
        height: 60px;
        font-size: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .mais-info h1 {
        font-size: 32px;
    }

    .mais-info h2 {
        font-size: 28px;
    }

    .mais-info input,
    .mais-info textarea {
        width: 75%;
    }

    form button {
        width: 75%;
    }

    .social-icons {
        display: flex;
        gap: 15px;
    }

    .social-icons a {
        width: 70px;
        height: 70px;
        font-size: 22px;
    }
}
