.especificações>h1{
    font-family: "DM Serif Display", serif;
    font-weight: bold;
    color: #ef9300;
    align-items: center;
    font-size: 50px;
    text-align: center;
}

.especificações{
    margin: 140px 0px 170px 0px;
    display: flex;
    padding: 0px 80PX ;
    flex-direction: column;
}

.box-detalhes1{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    height: 155px;
    width: auto;
    text-align: center;
    align-items: center;
}

.iten1{
    flex-direction: column;
    height: 100px;
    width: 255px;
    justify-content: center;
    align-items: center;
}

.iten2{
    flex-direction: column;
    height: 100px;
    width: 255px;
    justify-content: center;
    align-items: center;
}

.iten3{
    flex-direction: column;
    height: 100px;
    width: 255px;
    justify-content: center;
    align-items: center;
}

.iten1>h1{
    
    font-size: 30px;
    text-align: center;
    justify-content: center;
}

.iten2>h1{
    font-size: 30px;
    text-align: center;
    justify-content: center;
}

.iten3>h1{
    font-size: 30px;
    text-align: center;
    justify-content: center;
}

.icons-box>i{
    margin-bottom: 20px;
    color: #7a4e07;
    font-size: 52px;
    text-align: center;
    align-items: center;
    
}
.especificações{
    visibility: hidden;
}

.linha1 {
    align-items: center;
    justify-content: center;
    border: none;
    height: 3px;
    width: 550px;
    background-color: black;
}


@media screen and (max-width: 1200px) {
    .especificações {
        padding: 0 20px;
    }

    .iten h1 {
        font-size: 28px;
    }

    .icons-box > i {
        font-size: 48px;
    }
}

@media screen and (max-width: 768px) {

    .especificações{
        margin: 0px;
    }

    .especificações > h1 {
        font-size: 36px;
    }

    .iten h1 {
        font-size: 24px;
    }

    .icons-box > i {
        font-size: 36px;
    }

    .linha1 {
        align-items: center;
        justify-content: center;
        border: none;
        width: 300px;      
    }
}

@media screen and (max-width: 480px) {
    .especificações > h1 {
        font-size: 50px;
    }

    .iten1 h1 {
        font-size: 15px;
    }
    .iten2 h1 {
        font-size: 15px;
    }
    .iten3 h1 {
        font-size: 15px;
    }

    .icons-box > i {
        font-size: 40px;
    }
}