*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;   
}

.chamada{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: 15px;
    display: flex;
    ;
}
