.container-slider{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: 15px;
    display: flex;
    padding: 10px 10px 50px ;
}

.slider {
    overflow: hidden;
    position: relative;
    width: 600px;
    height: 300px;
    margin: 0 auto;
}
  
.slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
}
  
.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.slider .slide:target {
    opacity: 1;
}
  