.galeria {
    background-color: #f9f9f9;
    padding: 25px 80px;
    text-align: center;
    align-items: center;
    margin-top: 100px;
}

.galeria > h1 {
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ef9300;
}

.imagem-container {
    display: inline-block;
    margin: 10px;
}

.imagem-container > img, .imagem-container > video {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

.popup-image {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-image span {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.popup-content {
    position: relative;
    text-align: center;
}

.popup-content img, .popup-content video {
    max-width: 100%;
    max-height: 80vh;
    display: none;
}

.nav-arrows {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 101;
}

.nav-arrows a {
    cursor: pointer;
    color: white;
    font-size: 60px;
    user-select: none;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

@media screen and (max-width: 1200px) {
    .galeria {
        padding: 25px 50px;
    }

    .imagem-container > img, .imagem-container > video {
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 768px) {
    .galeria {
        padding: 25px 20px 0px 20px;
        flex-direction: column;
        margin-top: 0px;
        margin-bottom: 0;
    }

    .imagem-container {
        width: 100%;
        margin: 5px 0;
    }

    .imagem-container > img, .imagem-container > video {
        width: 100%;
        height: 200px;
    }

    .galeria > h1 {
        font-size: 50px;
    }

    .popup-content img {
        width: 95%;
    }
}