.galeria {
    background-color: #f9f9f9;
    padding: 25px 40px 25px 40px;
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
}

.galeria > h1 {
    font-size: 50px;
    font-family: "DM Serif Display", serif;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ef9300;

}

.imagem-container {
    display: inline-block;
    margin: 10px;
}

.imagem-container > img, .imagem-container > video {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

.popup-image {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-image span {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
    
}

.popup-content {
    position: relative;
    text-align: center;
    align-items: center;
}

.linha2 {
    align-items: center;
    justify-content: center;
    border: none;
    height: 3px;
    width: 300px;
    background-color: black;
}

.popup-content img, .popup-content video {
    max-width: 100%;
    max-height: 80vh;
    display: none;
}

.nav-arrows {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 101;
}

.nav-arrows a {
    cursor: pointer;
    color: white;
    font-size: 60px;
    user-select: none;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
}

.galeria{
    visibility: hidden;
}

@media (max-width: 768px) {

    .galeria{
        padding: 0px 0px 0px 0px;
        margin:  0px 0px 0px 0px ;     
    }

    .galeria > h1 {
        font-size: 51px;

    }
    
    .imagem-container > img, .imagem-container > video {
        width: 60px;
        height: 60px;
    }

    .imagem-container {
        margin: 20px; 
    }

    .popup-image span {
        font-size: 40px;
    }

    .linha2 {
        align-items: center;
        justify-content: center;
        border: none;
        width: 140px;      
    }

    .nav-arrows {
        position: absolute; /* Mantém o posicionamento absoluto */
        top: 48%; /* Ajusta a posição das setas mais para cima */
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 101;
    }

    .nav-arrows a {
        font-size: 37px;
    }

   
}

/* Media Query para tablets */
@media (min-width: 768px) and (max-width: 1023px) {

    .galeria{
        padding: 0px 250px 0px 250px;
    }

    galeria > h1 {
        font-size: 51px;

    }
    
    .imagem-container > img, .imagem-container > video {
        width: 60px;
        height: 60px;
    }

    .imagem-container {
        margin: 0px; 
    }

    .popup-image span {
        font-size: 40px;
    }

    .linha2 {
        align-items: center;
        justify-content: center;
        border: none;
        width: 140px;      
    }

    .nav-arrows {
        position: absolute; /* Mantém o posicionamento absoluto */
        top: 48%; /* Ajusta a posição das setas mais para cima */
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 101;
    }

    .nav-arrows a {
        font-size: 37px;
    }
}