*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

html {
    scroll-behavior: smooth;
}

nav{
  display: flex;
  align-items: center;
  height: 10vh;
  justify-content: space-evenly;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;

}

nav>ul{
    display: flex;
    list-style: none;
}

nav>ul>li{
    margin-right: 20px;
    margin-top: 10px;


}

nav>ul>li>a{
    font-weight: bold;
    text-decoration: none;
    color: #6e2348;
    font-size: 28px;
    font-family: "Noto Serif", serif;

}

.icon>img{
    width: 350px;
    height: auto;
}



hr {
   
    width: 40%;
    border: 0;
    height: 3px;
    background: #333;
    margin: 10px auto;
}

@media screen and (max-width:1200px) {

    
    .nav-links{
       display: none;
    }

    .navbar {
        justify-content: center;
        margin-bottom: 50px;
        margin-top: 50px;
        margin-left: 20px;
    }

    .icon {
        margin: 0 10px;
    }

    .icon img {
        width: 350px; /* Ajuste o tamanho do ícone conforme necessário */
    }
}

@media screen and (max-width: 1200px) {
    .nav-links {
        display: none;
    }

    .navbar {
        justify-content: center;
        margin-bottom: 50px;
        margin-top: 50px;
        margin-left: 20px;
        margin-right: 20px; /* Adicionado para consistência */
    }

    .icon {
        margin: 0 10px;
    }

    .icon img {
        width: 350px; /* Ajuste o tamanho do ícone conforme necessário */
    }
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .navbar {
        justify-content: center;
        margin-bottom: 50px;
        margin-top: 50px;
        margin-left: 8px;
        margin-right: 20px; /* Adicionado para consistência */
    }

    .icon {
        margin: 0 10px;
    }

    .icon img {
        width: 350px; /* Ajuste o tamanho do ícone conforme necessário */
    }
}
