* {
    
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.localizacao {
    padding: 1px 40px 40px 40px;
    background-color: #e0e0e0; /* Cor de fundo mais escura */
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0px auto 170px auto ;
    max-width: 1300px;
}

.localizacao h1 {
    font-weight: bold;
    font-family: 'Alegreya', serif;
    font-size: 2.8em;
    color: #7a4e07;
    margin-bottom: 20px;
}

#map {
    height: 500px;
    width: 100%;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.endereco {
    text-decoration: none;
    color: #a65d08;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid #a65d08;
    padding: 10px;
    border-radius: 5px;
    background-color: lightyellow;
    transition: background-color 0.3s, color 0.3s;
}
.endereco:hover {
    background-color: #a65d08;
    color: white;
}

.endereco{
    text-decoration: none;
    color: #a65d08;
}

@media screen and (max-width: 1200px) {
    .localizacao {
        padding: 30px;
        margin: 15px auto;
    }

    .localizacao h1 {
        font-size: 2em;
    }

    #map {
        height: 400px;
        margin-top: 30px;
    }
    
}

@media screen and (max-width: 768px) {
    .localizacao {
        padding: 20px;
        margin: 10px auto;
    }

    .localizacao h1 {
        font-size: 3.0em;
        margin-top: 10px;
        margin-bottom: 10px;
        justify-content: center;
        align-items: center;
    }

    #map {
        height: 300px;
        margin-top: 20px;
    }
    .endereco {
        font-size: 12px;
        padding: 8px;
    }
    
}